<div class="container">
<%= form_with(model: resultat) do |f| %>
  
<!-- component -->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 w-full max-w-xl sm:mx-auto">
    <div class="relative p-4 bg-white shadow-sm sm:rounded-xl">
    <% if resultat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resultat.errors.count, "error") %> prohibited this resultat from being saved:</h2>

      <ul>
        <% resultat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <div class="w-full">
      <h2 class="font-bold md:text-2xl sm:text-xl">Se Préparer et Affronter le Bac 2021</h2>
      <p class="bg-green-500 p-2 font-semibold">Pré-inscrire toi en remplissant les champs </p>
        <div class="mb-5 relative">
          
          <%= f.text_field :username,autofocus: true, class:"w-full h-12 border border-gray-800 rounded px-3",  placeholder:"Mon nom est :" %>
        </div>
        <div class="mb-5 relative">
          <%= f.text_field :contact, id:"contact", class:"w-full h-12 border border-gray-800 rounded px-3", placeholder:"Mon N° WhatsApp est :" %>
          <small>Avec ton N° WhatsApp, tu peux recevoir vite le message le premier jour de l'ouverture de la plateforme</small>
        </div>
              

        <!-- component -->
        <div class="mb-5 relative">
          <div class="title py-3 my-auto px-5 bg-blue-500 text-white text-sm font-semibold mr-3">je suis en série</div>
          <label class="flex radio p-1 cursor-pointer">
            <%= f.radio_button :serie, :A1, class:"my-auto transform scale-125"%>
            <div class="title px-2">en A1</div>
          </label>

          <label class="flex radio p-1 cursor-pointer">
            <%= f.radio_button :serie, :A2, class:"my-auto transform scale-125"%>
            <div class="title px-2"> en A2</div>
          </label>

          <label class="flex radio p-1 cursor-pointer">
            <%= f.radio_button :serie, :D, class:"my-auto transform scale-125"%>
            <div class="title px-2">en D</div>
          </label>

          <label class="flex radio p-1 cursor-pointer">
            <%= f.radio_button :serie, :C, class:"my-auto transform scale-125"%>
            <div class="title px-2">en C</div>
          </label>
          <label class="flex radio p-1 cursor-pointer">
            <%= f.radio_button :serie, :Pas_Eleve, class:"my-auto transform scale-125"%>
            <div class="title px-2">Pas élève</div>
          </label>

        </div>

        
        <div class="my-5 relative">
          <div class="title py-3 my-auto px-5 bg-blue-500 text-white text-sm font-semibold mr-3">j'ai validé le bac</div>
          <label class="flex radio p-2 cursor-pointer">
            <%= f.radio_button :status, :D, class:"my-auto transform scale-125"%>
            <div class="title px-2">Reprend le Bac</div>
          </label>

          <label class="flex radio p-2 cursor-pointer">
            <%= f.radio_button :status, :Non, class:"my-auto transform scale-125"%>
            <div class="title px-2"> Non! c'est ma premiere fois</div>
          </label>
          <label class="flex radio p-2 cursor-pointer">
            <%= f.radio_button :status, :Non, class:"my-auto transform scale-125"%>
            <div class="title px-2"> Non! je en suis pas élève</div>
          </label>
        </div>

      </div>
        <%= f.submit "Envoyez", class:"w-full bg-green-500 text-bold p-3 rounded-md"%>
      </div>
    </div>
  </div>
</div>


<% end %>

</div>

