<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @resultat.username %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @resultat.ville %>
</p>

<p>
  <strong>Ecole:</strong>
  <%= @resultat.ecole %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @resultat.serie %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @resultat.genre %>
</p>

<p>
  <strong>Age:</strong>
  <%= @resultat.age %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @resultat.contact %>
</p>

<p>
  <strong>Contact parent:</strong>
  <%= @resultat.contact_parent %>
</p>

<p>
  <strong>Status:</strong>
  <%= @resultat.status %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @resultat.slug %>
</p>

<%= link_to 'Edit', edit_resultat_path(@resultat) %> |
<%= link_to 'Back', resultats_path %>
QSZEDRFTGYHUJ